<html>
	<head>
		<title>
			Wig Judgement
		</title>
		<script>
		</script>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<!-- Body Starts Here -->
	<body data-ng-app="wigsternApp" data-ng-controller="homeController" style="background-color:#480000">

		<!-- Div Starts Here -->
		<div style="background-color:#480000" align="center">
			<br/>
			<br/>

			<!-- Table Starts Here -->
			<table border="5" style="background-color:SaddleBrown" align="center">
				<tr>
					<td style="color:red" align="center" colspan="2">
						Welcome to
						<br/>
						<h1>Wig and Stern Judjment</h1>
					</td>
				</tr>
				<tr>
					<td width="300" align="center">
						<img  height="300" src="wigs/250px-George_Frideric_Handel_by_Balthasar_Denner.jpg"/>
					</td>

					<td width="300" align="center">
						<img  height="300" src="stern/170px-Ebenezer-prout.JPG"/>
					</td>
				</tr>
				<tr>
					<td align="center"> 
						<br/>
						<button class="greenButton" data-ng-click='NavigateToWigsPage()'>Wigs</button>
					</td>
					<td align="center"> 
						<br/>
						<button class="greenButton" data-ng-click='NavigateToSternPage()'>Stern</button>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
						<table border="1" width="100%">
							<tr>
								<td colspan="3" align="center" colspan="3">
									Statistics for
								</td>
							</tr>
							<tr>
								<td width="33%" align="center">
									<button class="brownButton" data-ng-click='NavigateToWigsPage()'>Wigs</button>
								</td>
								<td width="34%" align="center">
									<button class="brownButton" data-ng-click='NavigateToWigsPage()'>Both</button>

								</td>
								<td width="33%" align="center">
									<button class="brownButton" data-ng-click='NavigateToWigsPage()'>Most stern</button>

								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- Bibliography Row -->
				<tr>
					<td colspan="2" align="center">
						<table border="1" width="100%">
							<tr>
								<td width="25%">
								</td>
								<td align="center" width="50%">
									<button class="brownButton" data-ng-click='NavigateToWigsPage()'>Bibliography</button>

								</td>
								<td width="25%">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<br/>
			<br/>
		</div>
		    <!--Angular scripts-->
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
	    <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.5.min.js"></script>
	    <script src="Controllers/wigsternApp.js"></script>

	</body>
</html>