﻿
<html>
	<head>
		<title>
			Wig Judgement - Most Stern
		</title>
		<script>
		</script>

		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<!-- Body Starts Here -->
	<body data-ng-app="wigsternApp" data-ng-controller="sternController" style="background-color:#480000">

		<section class="wrapper">
		    <div class="row">
		        <h1>{{message}}</h1>
		    </div>
		</section>
		<div>
			<table>
				<tr>
					<td colspan="2" style="color:saddlebrown">		
						Rate how stern the person in the picture is on a scale of 0-5 0 is not very stern.
					</td>
				</tr>
				<tr>
					<th>
				        <h1 style="color:DarkGoldenRod">Image</h1>
					</th>
					<th>
						<h1 style="color:DarkGoldenRod">Rating</h1>
					</th>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='175' src='stern/170px-Andrew_Johnson,_1875.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "170px-Andrew_Johnson,_1875.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "170px-Andrew_Johnson,_1875.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Andrew_Johnson,_1875.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Andrew_Johnson,_1875.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Andrew_Johnson,_1875.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Andrew_Johnson,_1875.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("170px-Andrew_Johnson,_1875.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/170px-Ebenezer-prout.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "170px-Ebenezer-prout.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "170px-Ebenezer-prout.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Ebenezer-prout.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Ebenezer-prout.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Ebenezer-prout.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Ebenezer-prout.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("170px-Ebenezer-prout.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/170px-General_sherman.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "170px-General_sherman.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "170px-General_sherman.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-General_sherman.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-General_sherman.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-General_sherman.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-General_sherman.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("170px-General_sherman.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/170px-Mrs-E-Johnson.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "170px-Mrs-E-Johnson.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "170px-Mrs-E-Johnson.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Mrs-E-Johnson.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Mrs-E-Johnson.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Mrs-E-Johnson.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "170px-Mrs-E-Johnson.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("170px-Mrs-E-Johnson.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-Alexander_Stephens_-1855.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "stern/220px-Alexander_Stephens_-1855.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "stern/220px-Alexander_Stephens_-1855.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "stern/220px-Alexander_Stephens_-1855.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "stern/220px-Alexander_Stephens_-1855.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "stern/220px-Alexander_Stephens_-1855.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "stern/220px-Alexander_Stephens_-1855.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("stern/220px-Alexander_Stephens_-1855.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-Alexander_Stephens.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-Alexander_Stephens.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-Alexander_Stephens.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Alexander_Stephens.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Alexander_Stephens.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Alexander_Stephens.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Alexander_Stephens.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-Alexander_Stephens.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-James_Donald_Cameron_Brady-Handy.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Donald_Cameron_Brady-Handy.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Donald_Cameron_Brady-Handy.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Donald_Cameron_Brady-Handy.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Donald_Cameron_Brady-Handy.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Donald_Cameron_Brady-Handy.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Donald_Cameron_Brady-Handy.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-James_Donald_Cameron_Brady-Handy.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-James_K_Polk_and_Sarah_C_Polk.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_K_Polk_and_Sarah_C_Polk.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-James_K_Polk_and_Sarah_C_Polk.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_K_Polk_and_Sarah_C_Polk.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_K_Polk_and_Sarah_C_Polk.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_K_Polk_and_Sarah_C_Polk.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_K_Polk_and_Sarah_C_Polk.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-James_K_Polk_and_Sarah_C_Polk.jpg")'>Get Votes</button>
					</td>
				</tr>
				 <tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-Jefferson_Davis_1847.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-Jefferson_Davis_1847.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-Jefferson_Davis_1847.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Jefferson_Davis_1847.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Jefferson_Davis_1847.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Jefferson_Davis_1847.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Jefferson_Davis_1847.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-Jefferson_Davis_1847.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-James_Polk_restored.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Polk_restored.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Polk_restored.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Polk_restored.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Polk_restored.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Polk_restored.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-James_Polk_restored.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-James_Polk_restored.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-John_C_Breckinridge-04775-restored.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_C_Breckinridge-04775-restored.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-John_C_Breckinridge-04775-restored.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_C_Breckinridge-04775-restored.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_C_Breckinridge-04775-restored.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_C_Breckinridge-04775-restored.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_C_Breckinridge-04775-restored.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-John_C_Breckinridge-04775-restored.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-John_J._Crittenden.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_J._Crittenden.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-John_J._Crittenden.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_J._Crittenden.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_J._Crittenden.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_J._Crittenden.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_J._Crittenden.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-John_J._Crittenden.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-John_Jordan_Crittenden_-_Brady_1855.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Jordan_Crittenden_-_Brady_1855.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Jordan_Crittenden_-_Brady_1855.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Jordan_Crittenden_-_Brady_1855.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Jordan_Crittenden_-_Brady_1855.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Jordan_Crittenden_-_Brady_1855.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Jordan_Crittenden_-_Brady_1855.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-John_Jordan_Crittenden_-_Brady_1855.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-John_Schofield.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Schofield.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Schofield.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Schofield.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Schofield.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-John_Schofield.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-John_Schofield.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-Joseph_Holt.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-Joseph_Holt.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-Joseph_Holt.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Joseph_Holt.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Joseph_Holt.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Joseph_Holt.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Joseph_Holt.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-Joseph_Holt.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-Lewis_Cass_circa_1855.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-Lewis_Cass_circa_1855.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-Lewis_Cass_circa_1855.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Lewis_Cass_circa_1855.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Lewis_Cass_circa_1855.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Lewis_Cass_circa_1855.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Lewis_Cass_circa_1855.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-Lewis_Cass_circa_1855.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-O._O._Howard_postwar.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-O._O._Howard_postwar.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-O._O._Howard_postwar.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-O._O._Howard_postwar.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-O._O._Howard_postwar.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-O._O._Howard_postwar.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-O._O._Howard_postwar.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-O._O._Howard_postwar.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-William_Babcock_Hazen_-_Brady-Handy.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Babcock_Hazen_-_Brady-Handy.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Babcock_Hazen_-_Brady-Handy.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Babcock_Hazen_-_Brady-Handy.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Babcock_Hazen_-_Brady-Handy.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Babcock_Hazen_-_Brady-Handy.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Babcock_Hazen_-_Brady-Handy.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-William_Babcock_Hazen_-_Brady-Handy.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-William_Wilkins_United_States_Senator_-_Brady-Handy.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/220px-Zachary_Taylor_half_plate_daguerreotype_c1843-45.png'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "220px-Zachary_Taylor_half_plate_daguerreotype_c1843-45.png", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "220px-Zachary_Taylor_half_plate_daguerreotype_c1843-45.png", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Zachary_Taylor_half_plate_daguerreotype_c1843-45.png", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Zachary_Taylor_half_plate_daguerreotype_c1843-45.png", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "220px-Zachary_Taylor_half_plate_daguerreotype_c1843-45.png", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "xyz", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("220px-Zachary_Taylor_half_plate_daguerreotype_c1843-45.png")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/John_C_Calhoun_by_Mathew_Brady,_1849.jpg'/>
					</td>
					<td><button class='voteButton' ng-click='Vote("stern", "John_C_Calhoun_by_Mathew_Brady,_1849.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "John_C_Calhoun_by_Mathew_Brady,_1849.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "John_C_Calhoun_by_Mathew_Brady,_1849.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "John_C_Calhoun_by_Mathew_Brady,_1849.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "John_C_Calhoun_by_Mathew_Brady,_1849.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "John_C_Calhoun_by_Mathew_Brady,_1849.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("John_C_Calhoun_by_Mathew_Brady,_1849.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/JohnCCalhoun.jpeg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "JohnCCalhoun.jpeg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "JohnCCalhoun.jpeg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "JohnCCalhoun.jpeg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "JohnCCalhoun.jpeg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "JohnCCalhoun.jpeg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "JohnCCalhoun.jpeg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("JohnCCalhoun.jpeg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern","Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("Justice_Roger_B._Taney,_Supreme_Court,_U.S_-_NARA_-_528351.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/William_H._Seward_portrait_-_restoration.jpg'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "William_H._Seward_portrait_-_restoration.jpg", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "William_H._Seward_portrait_-_restoration.jpg", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "William_H._Seward_portrait_-_restoration.jpg", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "William_H._Seward_portrait_-_restoration.jpg", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "William_H._Seward_portrait_-_restoration.jpg", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "William_H._Seward_portrait_-_restoration.jpg", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("William_H._Seward_portrait_-_restoration.jpg")'>Get Votes</button>
					</td>
				</tr>
				<tr>
					<td height='200'>
						<img height='200'width='170' src='stern/William_Seward_1851.png'/>
					</td>
					<td>
						<button class='voteButton' ng-click='Vote("stern", "William_Seward_1851.png", "0")'>0</button>
						&nbsp;
						&nbsp;
						<button class='voteButton' ng-click='Vote("stern", "William_Seward_1851.png", "1")'>1</button>
						<button class='voteButton' ng-click='Vote("stern", "William_Seward_1851.png", "2")'>2</button>
						<button class='voteButton' ng-click='Vote("stern", "William_Seward_1851.png", "3")'>3</button>
						<button class='voteButton' ng-click='Vote("stern", "William_Seward_1851.png", "4")'>4</button>
						<button class='voteButton' ng-click='Vote("stern", "William_Seward_1851.png", "5")'>5</button>
						<br/>
						<br/>
						<button class='voteButton' ng-click='GetVotes("William_Seward_1851.png")'>Get Votes</button>
					</td>
				</tr>
			</table>
			
		</div>

		    <!--Angular scripts-->
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
	    <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.5.min.js"></script>
	    <script src="Controllers/wigsternApp.js"></script>

	</body>
</html>