﻿
<html>
	<head>
		<title>
			Wig Judgement - Wigs
		</title>
		<script>
		</script>

		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<!-- Body Starts Here -->
	<body data-ng-app="wigsternApp" data-ng-controller="wigsController" style="background-color:#480000">

		<section class="wrapper">
		    <div class="row">
		        <h1>{{message}}</h1>
		    </div>
		</section>

		<div>
			<table>
				<tr>
					<td colspan="2" style="color:saddlebrown">		
						Rate how Impressive the wig in the picture is on a scale of 0-5 0 is not very Impressive.
					</td>
				</tr>
				<tr>
					<th>
				        <h1 style="color:DarkGoldenRod">Image</h1>
					</th>
					<th>
						<h1 style="color:DarkGoldenRod">Rating</h1>
					</th>
				</tr>

				<tr>
					<td height='200'>
						<img height='200'width='175' src='wigs/1stLordClifford.jpg'/>
					</td>
					<td>
					</td>
				</tr>

				<tr>
					<td>
						<img height='200'width='175' src='wigs/200px-1stDukeOfLeeds.jpg'/>
					</td>
					<td>
					</td>
				</tr>
                   <tr>
					<td>
						<img height='200'width='160' src='wigs/100px-Louis_XIIIval_grace.jpg'/>
					</td>
					<td>
					</td>
				</tr>
                <tr>
					<td>
						<img height='200'width='160' src='wigs/200px-Louis_le_Grand;_Rigaud_Hyacinthe.jpg'/>
					</td>
					<td>
					</td>
				</tr>
                <tr>
					<td>
						<img height='200'width='175' src='wigs/200px-Louis14-F.jpg'/>
					</td>
					<td>
					</td>
				</tr>
                <tr>
					<td>
						<img height='200'width='175' src='wigs/200px-S21c.jpg'/>
					</td>
					<td>
					</td>
				</tr>
                <tr>
					<td>
						<img height='200'width='175' src='wigs/200px-Shaftesbury1672.jpg'/>
					</td>
					<td>
					</td>
				</tr>
			
			    <tr>
					<td>
						<img height='200'width='175' src='wigs/200px-William_Russell_Lord_Russell.jpg'/>
					</td>
					<td>
					</td>
				</tr>
		</div>
                <tr>
					<td>
						<img height='200'width='175' src='wigs/220px-Anthony_Ashley-Cooper,_1st_Earl_of_Shaftesbury.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='175' src='wigs/220px-James_II_by_John_Riley.png'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='155' src='wigs/220px-King_James_II_by_Sir_Godfrey_Kneller,_Bt.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='175' src='wigs/220px-Louis-xiv-lebrunl.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='175' src='wigs/220px-Marshal_luxembourg.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='175' src='wigs/250px-George_Frideric_Handel_by_Balthasar_denner.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='175' src='wigs/486px-2ndDukeOfBuckingham.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='175' src='wigs/469px-John_Maitland,_Duke_of_Lauderdale_by_Jacob_Huysmans.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='175' src='wigs/Prince_James_Francis_Edward_Stuart_by_Alexis_Simon_Belle.jpg'/>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<img height='200'width='170' src='wigs/220px-Felipe_V;_Rey_de_España.jpg'/>
					</td>
					<td>
					</td>
				</tr>
      </table>
		    <!--Angular scripts-->
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
	    <script src="Controllers/wigsternApp.js"></script>

	</body>
</html>